@{
    ViewData["Title"] = "Recipe Editor";
}

<div class="text-center">
    <h1 class="display-4">Edit a Recipe</h1>
    <p>This will be where you can edit a single recipe from your Cart or from your saved recipes.</p>
</div>
