@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content text-center">
    <h1> Welcome to the Recipe List Generator!</h1>
    <p>Choose from the links above to generate yourself a new shopping list from our curated recipes, or
        create your own recipe using our library of ingredients. </p>
    <p>You can also view our recipe editor to revise an existing recipe, or see your existing Recipe Cart if you're
    back for seconds!</p>
</div>
<div class="row">
    <div class="col-lg-3 page-bottom-content box-one"><h4>Seasonal Treats</h4></div>
    <div class="col-lg-3 page-bottom-content box-two"><h4>Holiday Dinners</h4></div>
    <div class="col-lg-3 page-bottom-content box-three"><h4>Food As Gifts</h4></div>
</div>



