@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    This is content.
</div>
<div class="row">
    <div class="col-lg-3 page-bottom-content">One Box</div>
    <div class="col-lg-3 page-bottom-content">Two Box</div>
    <div class="col-lg-3 page-bottom-content">Three Box</div>
</div>



