@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content text-center">
    <h1> Welcome to the Recipe Book!</h1>
    <p>Choose from the links above to browse our Recipes! </p>
    <p>You can also view our recipe editor to revise an existing recipe!</p>
</div>
<div class="row">
    <div class="col-lg-3 page-bottom-content box-one"><h4>Seasonal Treats</h4></div>
    <div class="col-lg-3 page-bottom-content box-two"><h4>Holiday Dinners</h4></div>
    <div class="col-lg-3 page-bottom-content box-three"><h4>Food As Gifts</h4></div>
</div>



