@{
    ViewData["Title"] = "Shopping List";
}

<div class="text-center">
    <h1 class="display-4">Shopping List</h1>
    <p>This is where you'll see your completed shopping list, calculated from the recipes in your Recipe Cart. </p>
</div>