@{
    ViewData["Title"] = "Recipe Cart";
}

<div class="text-center">
    <h1 class="display-4">Your Recipe Cart</h1>
    <p>This is where you'll be able to view the recipes you've added to your Recipe Cart via the New List view.</p>
    <p>Go to the <a asp-contorller="Cart" asp-action="CompletedList">Completed List</a>.</p>
</div>