@model List<Recipe> 

@{
    ViewData["Title"] = "View All Recipes";
}

<div class="page-content">
    <div class="row">
        <h1 class="col-lg-10 col-mg-10 col-sm-10 text-center">View All Recipes</h1>
        <a asp-controller="Recipe" asp-action="AddRecipe" type="button"
           class="btn btn-lg btn-secondary float-right">Add a Recipe</a>
    </div>

    @foreach (Recipe recipe in Model)
    {
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 "><a asp-controller="Recipe" asp-action="SingleRecipe" asp-route-id="@recipe.RecipeId"><img class="recipe float-right" src="@recipe.Image" /></a></div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <a asp-controller="Recipe" asp-action="SingleRecipe" asp-route-id="@recipe.RecipeId"><h5>@recipe.RecipeName</h5></a>
                </div>
            </div>
        </div>
        <br />
    }
</div>